.free {
    background-color: green;
    height: 30px;
    width: 100%;
    padding-top: 20px;
    color: aliceblue;
}

.icon img {
    margin-left: 30px;
    margin-top: 20px;

}

.icon {
    height: 140px;
    background-color: rgb(248, 189, 52);

}

.icon input {

    height: 25px;
    width: 30%;
    margin-top: 50px;
    /* text-align: center; */
    margin-left: 10%;

}

.icon button {
    height: 30px;
    width: 70px;

}

.head {
    text-shadow: 2px 5px 5px rgb(4, 180, 57);
}

.card img {
    height: 300px;
    width: 100%;
    border-radius: 8px;
}

.card {
    height: 420px;
    width: 23%;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    /* background-color: rgb(132, 180, 180); */
    text-align: center;
    /* box-shadow: 3px 3px 3px 3px rgb(7, 7, 7); */

}

.card img:hover {
    transform: scale(1.05);

}

.card button {
    color: white;
    background-color: green;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.cour img {
    margin-top: 30px;

}

.ioc
{
height: 400px;
width: 100%;
/* border: 2px solid red; */

}


/* .......cards........ */


.cards {
    height: 300px;
    width: 31%;
    margin-left: 20px;
    margin-top: 30px;
    /* border: 2px solid rebeccapurple; */
    float: left;
    text-align: center;
}

.cards img {
    background-color: rgb(3, 87, 3);
    border-radius: 50%;
    /* margin-left: 30%; */

}

.cards h2 {
    text-shadow: 2px 2px 2px rgb(6, 178, 6);

}

.cards p {
    font-size: larger;
}



/* .........last........ */
.last
{
height: 500px;
width: 100%;
/* border: 2px solid  red ; */

}

.lastone
{
height: 350px;
width: 31%;
border-radius: 5px;
/* border: 2px solid red ; */
/* margin-top: 20px; */
margin-left: 20px;
float: left;
background-color: rgb(247, 224, 170);
text-align: center;
color: rgb(74, 44, 248);
}
.last h1
{
text-align: center;
text-shadow: 2px 2px rgb(206, 58, 95);
}

/* .last h2{
text-shadow: 2px 2px rgb(252, 247, 247);

} */


.lastone:hover
{
background-color: rgb(178, 254, 217);
color: rgb(165, 19, 56);
transition:0.4s;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* ..........about section....... */
.about
{
height: 400px;
width: 100%;
/* border: 2px solid red ; */
margin-top: 20px;
}
.aboutone
{
height: 360px;
width: 48%;
/* border: 2px solid red; */
float: left;
margin-left: 20px;
text-align: center;
/* background-color: rgb(248, 189, 52) ; */

}

.aboutone img{
margin-top: 30px;
    height:300px ;
width: 100%;
border-radius: 5px;

}
.aboutone h3{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ..........footter... */
.footter
{
height: 400px;
width: 100%;
/* border: 2px solid red ; */
margin-top: 20px;
background-color: rgb(247, 224, 170);

}

.foot
{
height: 400px;
width: 31%;
/* border: 2px solid red ; */
margin-left: 20px;
float: left;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.foot p:hover{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

.foot input
{
height: 30px;
width: 60%;
border-radius: 5px;
}

.foot button
{
margin-left: 3px;
    height: 33px;
width: 20%;
border-radius:5px 5px;
background-color: blue;
color: white;
}

.copy
{
font-size: 20px;
text-align: center;
}